
<div class="container">

  <h1 style="text-align: center;">Jamo Adjective Site</h1>

  <div id="adjective-wrapper">
    <%= render partial: 'adjective' %>
  </div>

  <div style="text-align: center;">
    <%= link_to "Reload", reload_adjectives_path, remote: true, class: "btn btn-sm btn-primary" %>
  </div>

</>
