
<div class="jumbotron jumbotron-orange">
  <h1 style="text-align: center;">Jamo Adjective Site</h1>
</div>

<div class="container">

  <% Adjective.number_to_show.times do |index| %>
    <div id="adjective-wrapper-<%= index %>" class="adjective-wrapper">
      <%= render partial: 'adjective', locals: { index: index } %>
    </div>
  <% end %>

  <div style="text-align: center;">
    <%= link_to "Reload", reload_adjectives_path, remote: true, class: "btn btn-lg btn-primary" %>
  </div>

</>
