// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-orange
{
  color: white;
  background-color: orange;
}

.adjective-wrapper
{
  display: inline-block;

  margin-top: 0.5em;
  margin-bottom: 2.5em;

  text-align: center;
}

.adjective
{
  display: inline-block;

  color: white;
  font-size: 3em;
  text-align: center;

  padding: 0.2em 1em;
  margin: 0.5em;

  background-color: #15ad15;
  border: 0;
  border-radius: 20em;
}
